/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/README.md export-ignore
/finder.php export-ignore
/generate.sh export-ignore
/release-latest-versions.sh export-ignore
/get_version.php export-ignore
/source/ export-ignore
